@font-face {
  font-family: 'apercu-medium';
  src: url('../fonts/apercu_medium-webfont.woff2') format('woff2'),
       url('../fonts/apercu_medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'apercu-regular';
  src: url('../fonts/apercu_regular-webfont.woff2') format('woff2'),
       url('../fonts/apercu_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'burbank-small-medium';
  src: url('../fonts/burbank_small_medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'burbank-small-bold';
  src: url('../fonts/burbank_small_bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}