.barkconceirge__container {
	margin: 0 auto;
	max-width: 1200px;
	padding: 0 30px;
	text-align: center;
	width: 100%;

	@media screen and (min-width: 768px) {
	  padding: 0 60px;
	}
}

.desktop--hidden {
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.barkconcierge__section-divider {
  background: $dark-gray;
  height: 1px;
  margin: 30px 0;
  width: 100%;
}
