$blue: #3dbAe6;
$gray: #b8baba;
$dark-gray: #a5a4a4;
$light-gray: #f4f4f4;
$white: #ffffff;
$black: #000000;

$apercu-medium: 'apercu-medium', sans-serif;
$apercu-regular: 'apercu-regular', sans-serif;
$burbank-medium: 'burbank-small-medium', sans-serif;
$burbank-bold: 'burbank-small-bold', sans-serif;